.btn {
  color: inherit;
  
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  font-weight: 700;
  background-color: aqua;
  color: goldenrod
}

.setting {
    font-weight: 700;
 

}

.close {
  position: fixed; top: 0; right: 0;
}



